<app-navbar></app-navbar>

<div class="sm:grid grid-cols-3 gap-3 px-20 p-5 flex flex-col">

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/monitores/cardiocap-datex-ohmeda.png" alt="datex-ohmeda" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Monitores de signos vitales GE Dash 3000
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/monitores/ge-dash-3000.png" alt="ge-dash" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Monitores de signos vitales Cardiocap/5 Datex-ohmeda
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/monitores/ge-dash-4000.png" alt="ge-dash-2" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Monitor de signos vitales GE Dash 4000
        </h5>
    </div>
</div>

