
  <div class="px-20 p-6 max-w-7xl sm:ml-64">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase">Mision</h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">

      Servir a la Sociedad Médica Mexicana, con lo mejor de nosotros mismos ofreciendo siempre lo más
      actualizado, al mejor precio y con el mejor servicio post-venta, en tecnología para diagnóstico, cirugía,
      rehabilitación y terapia de enfermedades

    </p>
    
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase">Acerca de Ginkox</h5>
    
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">
      Somos una empresa que se dedica a la renta y venta de equipos médicos. 
      Ofrecemos productos de alta calidad y precios competitivos ante nuestra competencia.
      Contamos con más de 3 años de experiencia ofreciendo servicios de apoyo a hospitales y
      consultorios
    </p> 

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase">Productos</h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">
      Satisfacemos necesidades tecnológicas de profesionales en la salud,
      ofreciendo equipos y accesorios de la más alta calidad para el
      monitoreo, diagnóstico y tratamiento, al mejor precio.
    </p>

  </div>


