<div class="grid justify-items-center">
  <div class="m-2 flex items-center">Social Media</div>
  <div class="flex justify-center">
      <img src="/facebook.png" alt="" class="m-2 w-8 h-8">
      <img src="/instagram.png" alt="" class="m-2 w-8 h-8">
      <img src="/tik-tok.png" alt="" class="m-2 w-8 h-8">
  </div>
</div>
<div class=" grid justify-items-center">
  <div class="m-2 flex items-center">Contacto</div>
  <div class="m-2">
    <div class="flex justify-center">
      <img src="/whatsapp.png" alt="" class="mr-2"><p>3322445566</p>
    </div>
    <p class="mb-2">ejemplo&#64;gmail.com</p>
  </div>
</div>

