<app-navbar></app-navbar>

<div class="sm:grid grid-cols-3 gap-3 px-20 p-5 flex flex-col">

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/electrocardiografos/cardiovit-at-102.png" alt="cardiovit-at-102" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Electrocardiógrafo Cardiovit AT-102 G2 con Espirómetro
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/electrocardiografos/cardiovit-ft-1.png" alt="cardiovit-ft1" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Electrocardiógrafo Cardiovit FT-1 con Wi-Fi
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/electrocardiografos/ge-mac-5500.png" alt="ge-mac" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Electrocardiógrafo G.E MAC 5500HD
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/electrocardiografos/pagewritter-touch.png" alt="touch-philips" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Electrocardiógrafo Pagewritter Touch Philips
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/electrocardiografos/pagewriter-tc70.png" alt="tc70" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Electrocardiógrafo PageWriter TC70
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/electrocardiografos/ge-mac-5500.png" alt="" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Electrocardiógrafo G.E MAC 5500HD
        </h5>
    </div>
</div>

