<app-navbar></app-navbar>

<div class="sm:grid grid-cols-3 gap-3 px-20 p-5 flex flex-col sm:ml-64">

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-sky-white dark:border-gray-700 dark:hover:bg-gray-100">
        <div class="flex justify-center">
            <img src="/desfibriladores/sternum-apex.png" alt="stryker" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 text-gray text-center">
            Desfibrilador Sternum Apex
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-sky-white dark:border-gray-700 dark:hover:bg-gray-100">
        <div class="flex justify-center">
            <img src="/desfibriladores/automatico-schiller.png" alt="neumatica" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 text-gray text-center">
            Desfibrilador automatico Schiller Easy Pulse
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-sky-white dark:border-gray-700 dark:hover:bg-gray-100">
        <div class="flex justify-center">
            <img src="/desfibriladores/mindray-beneheart.png" alt="transport" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 text-gray text-center">
            Desfibrilador DEA Mindray BeneHeart C2
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-sky-white dark:border-gray-700 dark:hover:bg-gray-100">
        <div class="flex justify-center">
            <img src="/desfibriladores/philips-heartStart-mrx.png" alt="transport" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 text-gray text-center">
            Desfibrilador Philips HeartStart MRX
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-sky-white dark:border-gray-700 dark:hover:bg-gray-100">
        <div class="flex justify-center">
            <img src="/desfibriladores/physio-control-lifepak.png" alt="transport" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 text-gray text-center">
            Desfibrilador Physio-Control Lifepak 12
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-sky-white dark:border-gray-700 dark:hover:bg-gray-100">
        <div class="flex justify-center">
            <img src="/desfibriladores/zoll-m.png" alt="transport" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 text-gray text-center">
            Desfibrilador Zoll M Series
        </h5>
    </div>

</div>

