<app-navbar></app-navbar>

<div class="sm:grid grid-cols-3 gap-3 px-20 p-5 flex flex-col sm:ml-64">

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/incubadora/ge-giraffe-incubadora.png" alt="cardiovit-at-102" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            GE Giraffe Incubadora
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/incubadora/ge-omnibed-giraffe.png" alt="cardiovit-ft1" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            GE Omnibed Giraffe Incubadora y Cuna Termica
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-center">
            <img src="/incubadora/ohmeda-care-plus.png" alt="ge-mac" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">
            Incubadora Ohmeda Care Plus 4000
        </h5>
    </div>
</div>

