<app-navbar></app-navbar>

<div class="sm:grid grid-cols-3 gap-3 px-20 p-5 flex flex-col sm:ml-64">

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-sky-white dark:border-gray-700 dark:hover:bg-gray-100">
        <div class="flex justify-center">
            <img src="/maquinas-anestesia/anestesia-datex-ohmeda.png" alt="cardiovit-at-102" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 text-gray text-center">
            Maquina de Anestesia Datex Ohmeda Aestiva S/5 7100
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-sky-white dark:border-gray-700 dark:hover:bg-gray-100">
        <div class="flex justify-center">
            <img src="/maquinas-anestesia/datex-ohmeda-aespire.png" alt="cardiovit-ft1" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 text-gray text-center">
            Maquina de Anestesia Datex-Ohmeda Aespire S5 7900 o 7100
        </h5>
    </div>

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-sky-white dark:border-gray-700 dark:hover:bg-gray-100">
        <div class="flex justify-center">
            <img src="/maquinas-anestesia/drager-fabius-gs.png" alt="ge-mac" class="object-cover h-48 w-70 "/>
        </div>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 text-gray text-center">
            Maquina de Anestesia Drager Fabius GS
        </h5>
    </div>
</div>

